# Object files
*.o
*.ko
*.obj
*.elf
 
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Debug files
*.dSYM/

# Ctags
tags

# Stuff to avoid the cmake stuff
**/CMakeFiles
**/CMakeCache.txt
**/bin
**/conaninfo.txt
**/*.cmake
**/Makefile
**/Testing
